<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>

  <enyim.com>
    <memcached protocol="Binary|Text">
     
      <servers>
        <add address="10.211.55.10" port="11211" />
      </servers>
      
      <locator type="Enyim.Caching.DefaultNodeLocator, Enyim.Caching"/>
      <keyTransformer type="Enyim.Caching.DefaultKeyTransformer, Enyim.Caching" />
      <transcoder type="MemcachedTest.AliasTranscoder, MemcachedTest" />

      <performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="james-test"/>

    </memcached>
  </enyim.com>
</configuration>